doctype html
html(lang="ko")
  head
    title #{pageTitle} | #{siteName}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block scripts
  body
    include ../partials/header
    section.contents
      block content
    include ../partials/footer